<div class="">


<div class="shadow p-1 mb-5 bg-secondary rounded">

  <nav class="navbar navbar-expand-md navbar-dark navbar-custom p-0">
    <div class="home">
      <img src="/images/Logo Boipoka copy.png" alt="">
      <a class="navbar-brand" href="/">Boipoka</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../user/myshelf"> <i class="fas fa-book-reader"></i> MyShelf <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-cog"></i> User Manager
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="../user/FindBySchools">Find Materials by Schools</a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../user/signin">Dive In</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../user/signup">Don't have an account? <i class="fas fa-sad-tear"></i> <br>. . . . <i class="fas fa-sign-in-alt"></i> SignUp</a>
          </div>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder=" ðŸ” Books or Q.papers" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
  </nav>
</div>
