<div class="container">



  <div class="icon-grid">
    <ul class="icon-grid-list">
      <li class="icon-grid-item"><a target="_blank" class="icon-grid-link" href="../user/SchoolOfComputing"><img class="icon-grid-icon" src="/images/computer.png" alt=""><span class="icon-grid-caption">School of Computing</span></a></li>
      <li class="icon-grid-item"><a target="_blank" class="icon-grid-link" href="../user/SchoolOfElectrical"><img class="icon-grid-icon" src="/images/EEE.png" alt=""><span class="icon-grid-caption">School of Electrical</span></a></li>
      <li class="icon-grid-item"><a target="_blank" class="icon-grid-link" href="../user/SchoolOfMechanical"><img class="icon-grid-icon" src="/images/ME.png" alt=""><span class="icon-grid-caption">School of Mechanical</span></a></li>


    </ul>
  </div>
</div>
