body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #C6C6C6;
}
.container{
  margin-top: 30px;
}
.quoteimg{
  width: 10%;
  margin: 20px;
  margin-left: 40%;
  margin-bottom: 0;
  border-radius: 100%;
}

.carouselSpace{
  margin-bottom:80px;
}

h1{
  text-align: center;
}

.quote{
  margin-bottom: 0;
  text-align: center;
  line-height: 1.5;
  color: #808080;
}

.dropdown .dropdown-item {
  color: rgba(139, 0, 0, 0.8);
}
.dropdown .dropdown-item:hover {
  color: #DAA520;
  background-color: rgba(139, 0, 0, 0.8);
}

.quoter{
  font-size: 12px;
  float: right;
  margin-right: auto;
  margin-top: 0;
  color: #808080;
}

.card {
  background-color: transparent;
  border-bottom-color: #8B0000;
}
.userlogo{
margin-left: 382px;
margin-right: 382px;
margin-bottom: 40px;
margin-top: 50px;
}
.home {
  padding-left: 10px;
}

a {
  color: #00B7FF;
}

/* change the background color */


.navbar-custom {
  background-color: rgba(139, 0, 0, 0.8);

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #DAA520;
  padding: 0.8rem 1rem;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5);
  padding: 1rem 1rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
  background-color: rgba(255, 215, 0, 0.5);
  transition: transform .3s;
  /* add background-color to active links */
}

.navbar-custom .nav-item.active .nav-link:hover {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #000;
  color: rgba(139, 0, 0, 0.8);
  transform: scale(1.2);
  background-color: rgba(255, 215, 0, 0.8);
}

.navbar-custom .btn {
  margin-right: 1rem;
}

html, body {
  width: 100%;
  height: 100%;
}

.signup {
  margin: 0.5em;
}

.headtext {
  text-align: center;
  padding-bottom: 30px;
}

.well {
  width: 50%;
  margin: 0 auto;
}

.signup {
  color: #8B0000;
}

.container {
  padding-top: 15px;
}


/* List by Schools style */

.icon-grid {
  width: 100%;
  margin-left: 350px;
}
ul.icon-grid-list {
  display: flex;
  flex-wrap: wrap;
}

li.icon-grid-item {
  list-style: none;
  padding: 10px;
  width: 6em;
  transition: transform .3s;
}
li.icon-grid-item:hover {
  transform: scale(1.2);
}
img.icon-grid-icon {
  display: block;
  margin: 0 auto;
  height: 50px;

}
a.icon-grid-link {
  text-decoration: none;
  text-align: center;
  color: #8B0000;
}
span.icon-grid-caption {
  display: block;
  margin-top: 0.7em;
  font-family: lato;
}
